{% extends "task/base.html" %}
{% block meta_title%}{% if object.pk %}{{ object.title }}{% else %}新規作成{% endif %}{% endblock %}
{% block page_title%}{% if object.pk %}{{ object.title }}{% else %}新規作成{% endif %}{% endblock %}
{% block content %}
<style>
    .minute-wrapper {
        border: 1px solid #eceeef;
    }

    .hour-name {
        padding: 5px;
        text-align: right;
        border: 1px solid #eceeef;
    }

    .just-hour {
        border-top: 1px solid #eceeef;
    }


</style>
<form action="" method="POST">
    {{ form.errors }}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="{{ form.start_hour.id_for_label }}">時間</label>
        {{ form.start_hour }}時{{ form.start_minute }}分
        〜{{ form.end_hour }}時{{ form.end_minute }}
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">追加</button>
</form>

{% endblock %}

{% block extrajs %}
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip('show');
    });


</script>
{% endblock %}