{% extends "task/base.html" %}
{% block content %}
<style>
    .minute-wrapper {
        border: 1px solid #eceeef;
    }

    .hour-name {
        padding: 5px;
        text-align: right;
        border: 1px solid #eceeef;
    }

    .just-hour {
        border-top: 1px solid #eceeef;
    }
</style>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-8">
            {{ time_schedule }}
        </div>
        <div class="col-sm-4">
            <form action="" method="POST">
                {{ form.errors }}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.start_hour.id_for_label }}">時間</label>
                    {{ form.start_hour }}時{{ form.start_minute }}分
                    〜{{ form.end_hour }}時{{ form.end_minute }}
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">追加</button>
            </form>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block extrajs %}
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip('show');
    });
</script>
{% endblock %}