<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/initial.css">
  <title>Setting</title>
</head>

<body>
  <h1>Setting</h1>
  <p class="subtitle">情報は<a href="">プライバシーポリシー</a>に則って管理されます</p>
  <div class="custom_edit1">
    <h3 class="custom_title">習慣を登録してください</h3>
    <p class="cutom_subtitle">(睡眠、仕事、読書など)</p>
    <div class="custom_wrapper">
      <div class="custom_list">
        <div class="custom">
          <h3>朝食</h3><img class="Pen" src="../../static/image/pen.svg" alt="Pen"><img class="Trashcan"
            src="../../static/image/Trashcan.svg" alt="Trashcan">
          <p class="custom_time">毎日 7:00~7:30</p>
        </div>
      </div>
      <button class="Landscape_button Login">Add</button>
    </div>
  </div>
</body>

</html>