<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisPlay</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/todo_add.css">
</head>

<body>
    <div class="todo_add">
        <div class="title">
            <div class="caption">
                <h3>Title</h3>
                <div class="underline"></div>
            </div>
            
        </div>
    </div>
</body>

</html>