<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/top_menu.css">
  <title>DisPlay</title>
</head>

<body>
  <header>
    <h1>DisPlay</h1><a class="Option_link" href=""><img src="../../static/image/Gear.svg" alt="Option"></a>
  </header>
  <img class="clock" src="../../static/image/Circle.svg" alt="Clock">
  <h3>Todolist</h3><button class="Landscape_button">Add</button><img src="../../static/image/Trashcan.svg"
    alt="trashcan">
  <h4>タスク</h4>
  <p>Deadline 8/16~20</p> <button class="Circle_button"><img src="../../static/image/play.svg"
      alt="Play"></button><button class="Circle_button"><img src="../../static/image/check.svg" alt="check"></button>
</body>

</html>