.TodoPut{
  position: fixed;
  top: 80px;
  margin: 100px 12px 0 12px;
  background: linear-gradient(30deg, #fdfdfd, #fcfcfc);
  box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2),
    -1.5px -1.5px 3px rgba(248, 253, 255, 0.9);
  border-radius: 14px;
  width: 351px;
  height: 210px;
}
img.X {
  margin: 17px 28px 0 0;
}
.detailHeader {
  display: flex;
  justify-content: space-between;
}
h2.putCaption{
  margin: 22px 0 0 27px;
}
h3.putCaptionText{
  margin: 26px 0 0 27px;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
}
img.putStick{
  display: block;
  margin: 0 auto 0 27px;
  height: 1px;
  width: 87px;
}
.field h2 {
  margin: 11px 0 0 0;
  text-align: left;
}
.field{
  margin: 0 0 0 28px;
}
.link {
  display: flex;
}
.editText {
  text-align: right;
  margin: 24px 16px 0 0;
  font-family: "Roboto", sans-serif;
  color: #8baaf0;
  font-weight: 300;
  letter-spacing: 0.15em;
  font-size: 15px;
}
.v-enter {
  opacity: 0;
}

.v-enter-to {
  opacity: 1;
}

.v-enter-active {
  transition: all 250ms;
}

.v-leave {
  opacity: 1;
}

.v-leave-to {
  opacity: 0;
}

.v-leave-active {
  transition: all 250ms;
}