.todoAdd {
  opacity: 1;
  position: fixed;
  top: 80px;
  margin: 100px 12px 0 12px;
  background: linear-gradient(30deg, #fdfdfd, #fcfcfc);
  box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2),
    -1.5px -1.5px 3px rgba(248, 253, 255, 0.9);
  border-radius: 14px;
  width: 351px;
  height: 230px;
}
.detailHeader {
  display: flex;
  justify-content: space-between;
}
h3.captionText {
  font-family: "Roboto", sans-serif;
  margin: 26px 0 0 27px;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
}
input.titleInputArea{
  font-family: "Roboto", sans-serif;
  margin: -10px 0 0 0;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.15em;
  height: auto;
}
input.dateInputArea{
  font-family: "Roboto", sans-serif;
  margin: -14px 0 0 0;
  font-size: 17px;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.15em;
  height: auto;
}
img.stick{
  margin: 0 237px 0 27px;
  vertical-align: top;
  height: 1px;
  width: 87px;
}
img.stick.first{
  margin: 0 0 0 27px;
  vertical-align: top;
  height: 1px;
  width: 87px;
}
.link {
  display: flex;
}
.editText {
  cursor: pointer;
  text-align: right;
  margin: 24px 16px 0 0;
  font-family: "Roboto", sans-serif;
  color: #8baaf0;
  font-weight: 300;
  letter-spacing: 0.15em;
  font-size: 15px;
}
img.X {
  cursor: pointer;
  margin: 0 28px 0 0;
}

.field h2 {
  text-align: left;
  margin: -14px 0 0 0;
}
.field {
  display: flex;
  margin: 0 0 0 29px;
}
img.Pen{
  margin: -4px 0 0 5px;
  width: 9px;
  height: 16px;
}
.v-enter {
  opacity: 0;
}

.v-enter-to {
  opacity: 1;
}

.v-enter-active {
  transition: all 250ms;
}

.v-leave {
  opacity: 1;
}

.v-leave-to {
  opacity: 0;
}

.v-leave-active {
  transition: all 250ms;
}
/* delete input allows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}