@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
  background:linear-gradient(15deg, #F4F6FC, #E1E8F0);
  text-align: center;
}
.Landscape_button{
  color: #A0A0A0;
  width: 55px;
  height: 18px;
  font-size: 8px;
  border-radius: 8px;
  background:linear-gradient(30deg,#FDFDFD, #F0EDED);
  letter-spacing: 0.15em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
button{
  box-shadow:
  1.5px 1.5px 3px rgba(0, 0, 0, 0.2),
  -1.5px -1.5px 3px rgba(248, 253, 255, 0.9),
  inset 1.5px 1.5px 3px transparent,
  inset -1.5px -1.5px 3px transparent;
  transition: box-shadow 0.5s;
}
button:active{
  box-shadow:
  1.5px 1.5px 3px transparent,
  -1.5px -1.5px 3px transparent,
  inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.1),
  inset -1.5px -1.5px 3px rgba(248, 253, 255, 0.9);
}
.Login.Landscape_button{
  background:linear-gradient(30deg,#65B2FF, #5392DB);
  width: 103px;
  height: 29px;
  color: #ffffff;
  font-size: 9px;
}
button:active.Login{
  box-shadow:
  1.5px 1.5px 3px transparent,
  -1.5px -1.5px 3px transparent,
  inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.2),
  inset -1.5px -1.5px 3px rgba(149, 205, 250, 0.6);
}
.Logout.Landscape_button{
  background:linear-gradient(15deg, #FF6565, #DB5353);
  width: 103px;
  height: 29px;
  color: #ffffff;
  font-size: 9px;
}
button:active.Logout{
  box-shadow:
  1.5px 1.5px 3px transparent,
  -1.5px -1.5px 3px transparent,
  inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.2),
  inset -1.5px -1.5px 3px rgba(255, 179, 171, 0.6);
}
.Circle_button{
  background:linear-gradient(15deg, #FDFDFD, #F7F7F7);
  width: 29px;
  height: 29px;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 3px 0px rgb(0, 0, 0, 0.16);
}