<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DisPlay</title>
</head>
<body>
  <header><h1>DisPlay</h1><img src="" alt="Option"></header>
  <img src="" alt="Clock">
  <h2>Todolist</h2><button class="Landscape_button">Add</button><img src="" alt="trashcan">
  <h3>タスク</h3><p>Deadline 8/16~20</p> <button class="circle_button"><img src="" alt="Play"></button><button class="circle_button"></button>
</body>
</html>