<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/top_menu.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <title>DisPlay</title>
</head>

<body>
  <header>
    <h1>DisPlay</h1><a class="Option_link" href=""><img src="../../static/image/Gear.svg" alt="Option"></a>
  </header>
  <div id="chart"></div>
  <div class="Todo_menu">
    <h3>Todolist</h3><button class="Landscape_button"><div class="button_text">Add</div></button><img class="Trashcan"
      src="../../static/image/Trashcan.svg" alt="trashcan">
  </div>
  <div class="Task_list">
    <div class="Task">
      <h4>郵便局に荷物出す</h4>
      <button class="Circle_button Play"><img class="Play_img" src="../../static/image/play.svg" alt="Play"></button><button
        class="Circle_button Check"><img src="../../static/image/check.svg" alt="check"></button>
      <p>Deadline 8/20</p>
    </div>
    <div class="Task">
      <h4>英語1B課題</h4>
      <button class="Circle_button Play"><img class="Play_img" src="../../static/image/play.svg" alt="Play"></button><button
        class="Circle_button Check"><img src="../../static/image/check.svg" alt="check"></button>
      <p>Deadline 8/25 14:00</p>
    </div>
  </div>
</body>
<script src="../../static/js/depiction.js"></script>
</html>