@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
  text-align: center;
  width: 375px;
  margin: 0 auto 0 auto;
}
.v-application--wrap{
  background: linear-gradient(30deg, #E1E8F0,#F4F6FC );
}
h2.Headertitle{
  font-size: 22px;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}